html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif /*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
  background: #fcfcfc url(/imgs/greenfoodbg.jpg) repeat;
  margin: 0px;
  /* Margin bottom by footer height */
  margin-bottom: 70px;
  padding: 0px;
  color: #555555;
  min-width: 320px;
  font-size:16px;
}
#content {
  padding-top: 70px;
}
#footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 70px;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/*-----------------------------LINKS------------------------------*/
a:focus, a:hover {
    outline: none;
    text-decoration: none;
}

a:active {
  background-color:none;
}

.link-primary {
    color: #f03c4d;
    font-size: 18px;
    position: relative;
}

.link-primary:hover, .link-primary:focus {
    color: #f03c4d;
}

.link-secondary {
    font-size: 18px;
    color: #24344b;
    position: relative;
}

.link-secondary:hover, .link-secondary:focus {
    color: #24344b;
}

.link-primary:before, .link-secondary:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -12px;
    left: 0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.link-primary:hover:before, .link-secondary:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.link-primary:before {
    background-color: #24344b;
}

.link-primary:hover:before {
     background-color: #f03c4d;
}

.link-secondary:before {
    background-color: #f03c4d;
}

.link-secondary:hover:before {
     background-color: #24344b;
}

/*--- using this for the login button ---- */
.btn-default {
    border-radius: 0;
    border: none;
    color: #fff;
    font-size: 1.2em;
    overflow: hidden;
    position: relative;
    font-weight: 700;
    background: #f03c4d;
    padding: 17px 25px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}


/*------------------ NAVBAR ---------------------------- */

p.nav-logo {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  color: #f03c4d;
  text-transform: uppercase;
}

.fa-money {
  color: #00AC00;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #e7e7e7;
  box-shadow: 0 3px 2px rgba(0,0,0,.3);
  margin-bottom:50px;
}

.navbar-default .navbar-nav > li > a {
  vertical-align: middle;

}

.navbar-default .navbar-brand {
  vertical-align: middle;
}



/*--------------------------HEADINGS & text styles------------------------------*/
h1 {
  text-align: center;
  margin-bottom: 70px;
  padding-bottom:50px;
}

h2 {

}

h3 {
  color: #FD6B00;
  font-size:0.8em;
  text-align:left;
}

strong {
  color: #FD6B00;
}


/*--------------- WELCOME MESSAGE ---------------------------*/
.welcome {
  margin-top:100px;
  margin-bottom:50px;
}

.card {
  background: #fff;
  padding:35px 25px 35px 25px;
  margin-bottom:60px;
  box-shadow: 0 3px 2px rgba(0,0,0,.3);
}

.card .tag {
  position: absolute;
  top: -51px;
  left: 0;
}

.tag {
    display: inline-block;
    color: #fff;
    background: #FD6B00;
    font-size: 1.5em;
    padding: 13px 15px;
    position: relative;
    font-family: 'Lobster', cursive;
}

.center-col {
  margin: auto 0px;
}

/*----------------------DEALS SECTION-------------------------------------*/
.deals-bg {
  background-image: url(/imgs/bg.jpg);
  background-repeat: repeat;
  padding-bottom:80px;
}

.deals-bg .container {
  padding-top: 50px;
}

.card-deal {
  height:400px;
  padding:0px 10px;
  margin-bottom:30px;
  box-shadow: 0 3px 2px rgba(0,0,0,.3);
}

.tag-brand {
    display: inline-block;
    color: #fff;
    background: #FD6B00;
    font-size: 1.2em;
    padding: 13px 20px;
    position: relative;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.card-deal .tag-brand {
  position: absolute;
  top: -51px;
  left: 0;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  width:95%;
  height:60%;

}

#myCarousel {
  padding:10px;
  margin-bottom:30px;
  height:300px;
}

.carousel-inner {
  height: inherit;
}

.carousel-price {
  border-top: solid #f03c4d 3px;
}
