<template name="home">
  <div id="prompt">
    <div class="prompt-container">
      <div class="text-center">
        <h1>Welcome</h1>
        <p>Hi {{currentUser.profile.user_name}} {{currentUser.profile.name}}, Binge Tracker is a social app that you and your friends can connect to with Facebook and keep track of the shows you're currently bingeing on.
          It's an interactive app that pulls TV show information from the IMDB API so that it can provide the latest information on TV shows.
        </p>
      </div>
    </div>
  </div>
</template>
