<template name="search">
  <div class="welcome">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-12 col-md-12 col-lg-12 center-col">
          <div class="card">
            <span class="tag">Hey there {{currentUser.profile.name}}</span>
            <p>
              Let's start building your grocery list!
            </p>


            <div class="profile-links">
                <a href="{{pathFor 'sign-up'}}" class="btn btn-default">Sign up today!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
